@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap');

*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}

body{
	line-height: 1.5;
	overflow-x: hidden; 
}

img{
	width: 100%;
	display: block;
}

.container{
	display: grid;
    justify-content: center;
    justify-items:center;
}


.lg-title,
.md-title,
.sm-title{
	font-family: 'Montserrat', sans-serif;
	padding: 0.6rem 0;
	text-transform: capitalize;
}

.lg-title{
	font-size: 2.5rem;
	font-weight: 500;
	text-align: center;
	padding: 1.3rem 0;
	opacity: 0.9;
}

.sm-title{
	font-weight: 300;
	font-size: 1rem;
	text-transform: uppercase;
}

.products{
	background: #f8f9fa;
	padding: 3.2rem 0;
}

.product{
	margin: 2rem;
	position: relative;
	background: rgba(55,131,141,0.4);
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    cursor: pointer;
    border-radius: 60px;
    width: 90%;
}

.product-items{
	width: 90vw;
}

.product-img {
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 20px 10px rgba(255,255,255,0.5);
    width: 90%;
    height: 15rem;
    margin: 1rem;
    border-radius: 50%;
    transition: background 0.5s ease;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-img a{
	font-family: "Montserrat", sans-serif;
	color: black;
	font-size: 1rem;
	font-weight: 200;
	text-decoration: none;
}

.product:hover .product-img{
    background: #ffffff;
}

.product:hover .product-img a{
	text-decoration-line: underline;
	text-decoration-style: double;
	text-underline-offset: 0.7rem;
}

@media screen and (min-width: 700px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1050px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
}